x-mediacontrols figure {
  display: flex;
}

.wp-block-cover x-mediacontrols {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wp-block-cover.has-parallax x-mediacontrols ~ .cover-background-overlay {
  pointer-events: none;
}


.wp-block-cover x-mediacontrols::part(body) {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



.wp-block-cover .wp-block-cover__background,
.wp-block-cover .wp-block-cover__gradient-background,
.wp-block-cover-image .wp-block-cover__background,
.wp-block-cover-image .wp-block-cover__gradient-background,
.wp-block-cover-image.has-background-dim:not(.has-background-gradient):before,
.wp-block-cover.has-background-dim:not(.has-background-gradient):before {
  pointer-events: none;
}
